.detailPage {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0; /* 부모 컨테이너의 기본 여백 제거 */
    padding: 0;
}


.detailBox {
    backdrop-filter:  blur(10px) brightness(0.6); 
    flex: 1;
    height: 85vh;
    padding: 50px;
    display: flex;
    color: black;
    background-color: rgba(255, 255, 255, 0.746);
}

img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.description {
    margin-left: 20px;
}

.detailTitle {
    font-size: 40px;
    font-weight: bolder;
}

.tagLine {
    font-size: 30px;
    font-weight: 500;
}

.runTime {
    font-size: 20px;
}

.releaseDate {
    font-size: 20px;
    margin-bottom: 5px;
}

.rate {
    font-size: 20px;
}

.overView {
    font-size: 25px;
}

.genres {
    display: flex;
    font-size: 20px;
}