.detailPage {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.793);
}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 25px;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
}


.detailBox {
    height: 85vh;
    padding: 20px;
    color: black;
    @media (min-width: 769px) { 
        display: flex;
        padding: 50px;
    }
}

img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.description {
    margin-left: 20px;
}

.detailTitle {
    font-size: 40px;
    font-weight: bolder;
}

hr {
    border: 0;
    height: 1px;
    background-color: gray;
}

.tagLine {
    font-size: 30px;
    font-weight: 500;
}

.runTime {
    font-size: 20px;
}

.releaseDate {
    font-size: 20px;
    margin-bottom: 5px;
}

.rate {
    font-size: 20px;
}

.overView {
    font-size: 25px;
}

.genres {
    display: flex;
    font-size: 20px;
}